<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://pinnpublic.dothome.co.kr/cdn/example-min.css">
</head>
<body>
    <!-- header 영역-->
    <div th:insert="~{fragment/header}"></div>

    <!-- article 영역 -->
    <article>

        <form action="/view" method="POST" enctype="multipart/form-data">
            <table>
                <tr>
                    <td colspan="3"><h3>약관 파싱</h3></td>
                </tr>
                <tr>
                    <td>Word파일 업로드:</td>
                    <td><input type="file" name="file" /></td>
                    <td><input type="submit" value="Upload" onclick="fileUploadCheck()" /></td>
                </tr>
            </table>
        </form>

    </article>

    <!-- footer영역 -->
    <div th:insert="~{fragment/footer}"></div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script>


    $("input[name=file").on("change", function(){
        let maxSize = 300 * 1024 * 1024;                             // 300MB 최대 사이즈 제한
        let minSize = 1 * 1024;                                      // 1KB 최소 사이즈 제한
        let fileSize = this.files[0].size;                           // 업로드한 파일용량
        let fileName = this.files[0].name;                           // 업로드한 파일의 이름
        let fileExtension = fileName.split('.').pop().toLowerCase(); // 파일 확장자 추출

        // 파일 확장자 체크
        if (fileExtension !== 'docx') {
            alert("docx 파일만 업로드 가능합니다.");
            $(this).val(''); // 업로드한 파일 제거
            return;
        }

        // 파일 용량 체크
        if (fileSize > maxSize) {
            alert("파일 용량은 300MB 이하로 가능합니다.");
            $(this).val(''); // 업로드한 파일 제거
            return;
        }

        if (fileSize < minSize) {
            alert("파일 용량이 너무 작습니다.");
            $(this).val(''); // 업로드한 파일 제거
            return;
        }

    });


    fileUploadCheck({

    });

</script>
</body>
</html>