<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://pinnpublic.dothome.co.kr/cdn/example-min.css">
    <style>

        #file-name {
            text-align: center;
            font-size: 17px;
        }

        #back-btn {
            float: right;
            margin-right: 10px;

        }

        #terms-content {
            margin-top: 40px;
            border-top: 3px solid #CCCCCC;
        }

    </style>
</head>
<body>
    <div>
        <div th:text="${filename}" id="file-name"><a href="/index.kr">뒤로가기</a></div>
        <div id="back-btn">
            <button type="button" onclick="location.href='/index.kr'">뒤로가기</button>
        </div>
    </div>
    <div id="terms-content">

        <div th:utext="${text}"></div>
    </div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</body>
</html>