<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://pinnpublic.dothome.co.kr/cdn/example-min.css">
    <link rel="stylesheet" href="/css/view.css">
</head>
<body>
    <div>
        <div th:text="${filename}" id="file-name">파일제목</div>
        <div id="back-btn">
            <button type="button" onclick="location.href='/index.kr'">뒤로가기</button>
        </div>
    </div>
    <div id="terms-content">
        <!-- 파일읽는데 문제가 생길경우 -->
        <div th:if="${exception != null}" >
            <h2 th:text="${exception}"></h2>
        </div>
        <!-- 정상적으로 파일을 읽은 경우 -->
        <th:block th:unless="${exception != null}">
            <th:block th:each="line : ${word}">
                <span th:utext="${line}"></span>
            </th:block>
        </th:block>
    </div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</body>
</html>